<% include ./partials/header.ejs %>

<div class="w-full min-h-full bg-zinc-800 px-10 py-8 text-white">
    <div class="cards flex flex-wrap gap-10">
        <% posts.forEach(function(element) { %>
             <div class="w-32 card">
            <div class=" w-full h-40 bg-zinc-700 rounded-lg overflow-hidden">
                <img src="/images/uploads/<%= element.image %>" alt="" class="w-full h-full object-cover">
            </div>
            <h5 class="mt-2 text-sm"><%= element.title %></h5>
            <h6 class="text-xs font-semibold opacity-50">@<%= element.user.username %></h6>
        </div>
        <% }); %>
       
    </div>
</div>

<% include ./partials/footer.ejs %>
